#main-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
}
#editor{
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
}
#preview{
  background: #000;
  position: absolute;
  top: 0;
  left: 50vw;
  width: 50vw;
  height: 100vh;
}
