#main-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#editor {
    background: #ddd;
    display: inline;
    width: 50vw;
    height: 100vh;
}

#editor-title {
    margin: 5px;
}

#parsed-content {
    padding-top: 0;
}

#preview {
    background: #eee;
    display: inline;
    float: left;
    width: 50vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 0 10px 1.5em 10px;
    p {}
    blockquote {
        margin: 0 10px 1.5em 0;
        background: #f9f9f9;
        border-left: 10px solid #009688;
        padding: .5em 10px;
        word-wrap: break-word;
        p {
            display: inline;
        }
    }
    img {
        max-width: 45vw;
    }
}

#parsed-content {
    background: #eee;
}

textarea {
    background: none;
    border: none;
    position: absolute;
    bottom: 10px;
    top: 80px;
    left: 5px;
    outline: none;
    width: 48%;
    font-size: 1.1em;
}

#parsed-title {
    font-size: 3em;
    margin: 15px 0 10px 0;
    text-align: center;
    color: #009688;
    font-weight: 100;
}