#toolbox {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90%;
    height: 30px;
    text-align: left;
    button {
        color: #fff;
        background: rgba(0, 0, 0, 0.2);
        border: 0px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}