@import 'font',
'sweet-alert',
'nav',
'welcome',
'editor';
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

* {
    transition: all .5s;
}

.hide {
    display: none;
}

#help {
    background: #000;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
}