@import 'font',
'sweet-alert',
'toolbox',
'mfb',
'welcome',
'editor';
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

* {
    transition: all .5s;
}

.hide {
    display: none;
}

#help {
    background: #000;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
::-webkit-scrollbar-thumb:active {
  background: #808080;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
